{% extends 'master.html' %} 
{% include 'header.html' %}

{% block title %} Update {% endblock %}
 
 
{% block body %}

<div class="container">
    <form action='' method = "POST">
    <table class="table">
        <tr>
            <td>Name</td>
            <td><input type = "text" name = "nombre" value="{{user.name}}" class="form-control" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type = "text" name = "age" class="form-control" value="{{user.age}}" /></td>
        </tr>
    
        <tr>
            <td>Description</td>
            <td><input type = "text" name = "description" class="form-control" value="{{user.description}}" /></td>
        </tr> 
    
        <tr>
            <td colspan="2">
                <input type="submit" name="submit" value="Actualizar" class="btn btn-success">
                <a href='/api/users' class="btn btn-dark">Cancelar</a>
            </td>           
        </tr>
    </table>      
    </form>
    
</div>

{% endblock %}